@import "tailwindcss";

@theme {
    --radius-sm: var(--radius);
    --radius-md: calc(var(--radius) + 2px);
    --radius-lg: calc(var(--radius) + 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);

    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);

    --primary: oklch(80.9% 0.105 251.813);
    --primary-foreground: oklch(0.985 0 0);

    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);

    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);

    --destructive: oklch(63.7% 0.237 25.331);
    --destructive-foreground: oklch(0.205 0 0);

    --success: oklch(72.3% 0.219 149.579);
    --success-foreground: oklch(0.205 0 0);

    --warning: oklch(76.9% 0.188 70.08);
    --warning-foreground: oklch(0.205 0 0);

    --radius: 0rem;
}

@import "./components/button.css";

@import "./theme/blue.css";
@import "./theme/red.css";
@import "./theme/yellow.css";
@import "./theme/pink.css";